@use "../styles/mixins" as mixin;

.story {
  display: flex;
  flex-direction: column;
  background-color: mixin.$color-white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  gap: 10px;
  width: 100%;
  max-width: 350px;

  @include mixin.tablet {
    flex-direction: row;
    max-width: 700px;
  }

  & > img {
    width: 100%;
    max-width: 350px;
    object-fit: contain;
    border-radius: 10px;

    @include mixin.tablet {
      max-width: 115px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__header {
    order: 2;

    @include mixin.tablet {
      order: 0;
    }

    & > h2 {
      font-size: 15px;
    }

    & > p {
      font-size: 12px;
      color: mixin.$color-gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 545px;

      a {
        font-size: 10px;
        color: mixin.$color-gray;
      }
    }

    & a {
      text-decoration: none;
      color: mixin.$color-black;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    order: 3;
    margin-top: auto;

    & > p {
      font-size: 12px;
      color: mixin.$color-gray;
    }
  }
}
